
$baseColor: blue;
$reasonableSpace: 20px;

body {
    background-color: darken($baseColor, 20% )
}

div{
    color: $baseColor;
    margin: $reasonableSpace + 5px;

    .cool{
        border: 2px dashed red;

        img{
            margin:50px;
        }
    }
}
